:root {
    --black: #272727;
    --gray: #747474;
    --orange: #ff652f;
    --yellow: #ffe400;
    --jade: #14a76c
}

body {
    /* background-color: var(--orange);  */
}

.navbar .navbar {
    background-color: var(--yellow);
}

.navbar .navbar-brand {
    color: var(--black);
    font-size: 2rem;
    padding-left: 3rem;
}


/* ***** Form ****** */

form {
    background-color: var(--black);
    margin-bottom: 5rem;
    overflow: hidden;
}

input,
label {
    background-color: var(--black);
    color: yellow;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: var(--orange);
}