:root {
    /* --black: #272727;
    --gray: #747474;
    --orange: #ff652f;
    --yellow: #ffe400;
    --jade: #14a76c */
    --black: rgba(39, 39, 39, 1);
    --gray: rgba(116, 116, 116, 1);
    --orange: rgba(255, 101, 47, .8);
    --yellow: #ffe400;
    --jade: rgba(20, 167, 108, 1)
}

body {
    /* background-color: var(--orange);  */
}

.navbar {
    background-color: var(--jade);
}

.navbar .navbar-brand {
    color: var(--black);
    font-size: 2rem;
    padding-left: 3rem;
}


/* ***** Form ****** */

form {
    background-color: var(--black);
    margin-bottom: 5rem;
    overflow: hidden;
}

input,
label {
    background-color: var(--black);
    color: yellow;
}

.table {
    margin: 0 auto;
}

.thead-color {
    background-color: var(--jade);
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: var(--orange);
}