:root {
    --black: rgba(39, 39, 39, 1);
    --gray: rgba(116, 116, 116, 1);
    --orange: rgba(255, 101, 47, .8);
    --yellow: #ffe400;
    --jade: rgba(20, 167, 108, 1)
}

body {
    background-color: var(--gray);
}


/* navbar */

.navbar {
    background-color: var(--black);
}

.navbar .navbar-brand {
    color: var(--white);
    font-size: 2rem;
    padding-left: 3rem;
}


/* end navbar */


/* input Modal */


/* TODO - style modal */

.modal-content {
    background-color: var(--orange);
}

.modal-content input {
    background-color: var(--jade);
}

.input-modal-content .split-buttons {
    justify-content: space-between;
}


/******** table ********/


/* Table title */

.table-title {
    margin-top: 6rem;
    background-color: var(--black);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table-title h4 {
    margin-top: 2rem;
    margin-left: 1rem;
    padding: 0;
    color: var(--jade);
    position: relative;
    top: -1rem;
}

.table-title button {
    margin-right: 3rem;
}

.add-data-btn {
    margin-bottom: 1.1rem;
}

.btn-data-input,
.btn-data-input:active {
    background-color: var(--jade);
}

.btn-data-input:hover,
.btn-data-input:focus {
    background-color: var(--orange);
}


/* table body */

.table {
    margin: 0 auto;
}

.table thead th,
.table tr td {
    width: 5rem;
}

.thead-color {
    background-color: var(--jade);
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: var(--orange);
}