/* @import url('../fonts/google_fonts/Roboto-BlackItalic.ttf');
@import url('../fonts/google_fonts/Roboto-Bold.ttf');
@import url('../fonts/google_fonts/Roboto-Thin.ttf'); */


/* TODO - See why fonts not loading */

@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&family=Roboto:ital,wght@0,300;1,100;1,400&display=swap');
:root {
    --black: rgba(39, 39, 39, 1);
    --gray: rgba(116, 116, 116, 1);
    --lightGray: rgba(116, 116, 116, .8);
    --orange: rgba(255, 101, 47, .6);
    --brightOrange: rgba(255, 101, 47, 1);
    --yellow: rgba(255, 228, 0, .2);
    --brightYellow: rgba(255, 228, 0, .4);
    --jade: rgba(20, 167, 108, .9)
}

body {
    background-color: white;
    font-family: 'Roboto', 'sans';
}


/* navbar */

.navbar {
    /* background-color: var(--black); */
    border-bottom: solid .5px var(--brightOrange);
}

.navbar .navbar-brand {
    color: var(--brightOrange);
    font-size: 3rem;
    font-style: italic;
    font-stretch: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}


/* dashboard */

.dashboard {
    margin-top: 8rem;
    height: 47rem;
    /* background: black; */
    border-radius: 15px;
    /* align-items: center; */
}

.dashboard .rect {
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: var(--brightOrange);
    background: var(--black);
    width: 25rem;
    height: 25rem;
    padding-top: 6vmin;
    margin: 2rem 4rem;
    border: var(--brightOrange) solid 2px;
    border-radius: 50%;
    box-shadow: 1px 2px 50px 0px var(--orange);
}

.dashboard .rect h1 {
    font-size: 4rem;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    color: var(--brightOrange);
}

.dashboard .rect h2 {
    margin-top: 2rem;
}

.dashboard .rect .second-figure {
    /* font-size: 4rem; */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: var(--brightOrange);
}

.dashboard .rect h3 {
    /* font-size: 4rem; */
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: var(--brightOrange);
}

.dashboard .rect h4 {
    margin-top: .5rem;
    margin-bottom: 2.2rem;
    color: var(--jade);
    font-weight: 800;
}


/*  modal utilities */

.table-title button {
    margin-right: 3rem;
}

.add-data-btn {
    margin-bottom: 1.1rem;
}

.btn-data-input,
.btn-data-input:active {
    background-color: var(--brightOrange);
    height: 4rem;
}

.btn-data-input:hover,
.btn-data-input:focus {
    background-color: var(--orange);
}


/* Modals */


/* input Modal */

.modal-title {
    color: var(--brightOrange)
}

.modal-content {
    background-color: white;
}

.modal-content input,
.modal-content input:focus {
    background-color: var(--orange);
}

.input-modal-content .split-buttons,
.dashboard .split-buttons {
    justify-content: space-between;
}


/* Table Modal */

.table-modal {
    width: 150%;
}

.data-table thead tr th:first-child {
    width: 20%;
}


/** table **/


/* table body */

table>tr>td {
    max-width: 64px;
}

.table {
    margin: 0 auto;
}

.table thead th:first-child {
    width: 7%;
}

.table thead th:nth-child(2) {
    width: 7%;
}

.thead-color {
    background-color: var(--brightOrange);
    color: var(--black)
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: var(--orange);
}