/* @import url('../fonts/google_fonts/Roboto-BlackItalic.ttf');
@import url('../fonts/google_fonts/Roboto-Bold.ttf');
@import url('../fonts/google_fonts/Roboto-Thin.ttf'); */


/* TODO - See why fonts not loading */

@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&family=Roboto:ital,wght@0,300;1,100;1,400&display=swap');
:root {
    --black: rgba(0, 0, 0, 1);
    --secondBlack: rgba(39, 39, 39, .2);
    --gray: rgba(116, 116, 116, 1);
    --lightGray: rgba(116, 116, 116, 0.8);
    --orange: rgba(255, 101, 47, .6);
    --brightOrange: rgba(255, 101, 47, 1);
    --brightOrange2: rgba(255, 101, 47, .7);
    7 --yellow: rgba(255, 228, 0, .2);
    --brightYellow: rgba(255, 228, 0, .4);
    --jade: rgba(20, 167, 108, .7);
    --jadeLight: rgba(20, 167, 108, .5);
    --jadeLightDarker: rgba(11, 85, 106 .8);
}

body {
    background-color: var(--jadeLight);
    font-family: 'Roboto', 'sans';
}


/* navbar */

.navbar {
    /* background-color: var(--jadeLight); */
    border-bottom: solid 2px var(--orange);
}

.navbar .navbar-brand a img {
    height: 4rem;
    padding-bottom: .7rem;
}

.navbar .navbar-brand a {
    color: var(--brightOrange);
    font-size: 3rem;
    font-weight: 900;
    /* font-style: italic; */
    font-stretch: 1rem;
    padding-left: .5rem;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: .2rem;
}

.nav-data-btns {
    margin-right: 3rem;
    /* width: 20%; */
}

.add-data-btn,
.btn-data-input {
    margin-right: .7rem;
    margin-bottom: 1.1rem;
    border: none;
    font-size: 1.5rem;
}

.add-data-btn:focus,
.btn-data-input:focus {
    border: none;
    box-shadow: none;
    color: var(--brightOrange);
}

.btn-data-input,
.btn-data-input:active {
    color: var(--brightOrange);
    background-color: var(--jadeLightDarker);
    height: 4rem;
}

.btn-data-input:hover,
.btn-data-input:focus {
    font-weight: 900;
    background-color: var(--jadeLightDarker);
}


/* dashboard */

.dashboard {
    margin-top: 8rem;
    height: 47rem;
    border-radius: 15px;
    /* align-items: center; */
}

.dashboard .rect {
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: var(--brightOrange);
    background: var(--black);
    width: 25rem;
    height: 25rem;
    padding-top: 6vmin;
    margin: 2rem 3rem;
    border: var(--gray) solid 2px;
    border-radius: 50%;
    box-shadow: 1px 1px 25px 0px var(--jadeLight);
}

.dashboard .rect h1 {
    font-size: 4rem;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    color: var(--brightOrange);
}

.dashboard .rect h2 {
    margin-top: 2rem;
}

.dashboard .rect .second-figure {
    /* font-size: 4rem; */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: var(--brightOrange);
}

.dashboard .rect h3 {
    /* font-size: 4rem; */
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: var(--brightOrange);
}

.dashboard .rect h4 {
    margin-top: .5rem;
    margin-bottom: 2.2rem;
    color: var(--jade);
    font-weight: 800;
}


/*  modal utilities */

.table-title button {
    margin-right: 3rem;
}


/* Modals */


/* input Modal */

.input-modal {
    box-shadow: 1px 1px 1px 5px var(--brightOrange);
    color: var(--jade);
}

.input-modal-header {
    border-bottom: 1px solid var(--jade);
}

.input-modal input {
    color: var(--jade);
}

.modal-title {
    color: var(--brightOrange);
}

.input-modal-content {
    background-color: var(--black);
    box-shadow: var(--brightOrange);
    margin-top: 1rem;
}

.modal-content input,
.modal-content input:focus {
    background-color: var(--jadeLight);
}

.modal-content label {
    color: var(--jade);
    margin-top: 1rem;
    width: 100%;
}

.input-modal-content .split-buttons,
.dashboard .split-buttons {
    justify-content: space-between;
}

.split-buttons {
    border-top: 1px solid var(--jade);
}


/* Table Modal */

.table-modal {
    width: 150%;
}

.data-table thead tr th:first-child {
    width: 20%;
}


/** table **/


/* table body */

table>tr>td {
    max-width: 64px;
}

.table {
    margin: 0 auto;
}

.table thead th:first-child {
    width: 7%;
}

.table thead th:nth-child(2) {
    width: 7%;
}

.thead-color {
    background-color: var(--jadeLight);
    color: var(--black)
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: var(--jadeLight);
    color: var(--brightOrange)
}